{
    "token": "TOKEN BURAYA",
    "clientId": "CLIENT ID BURAYA",
	"guildId": "SERVER ID BURAYA",


    "kickRoleId":"KICK ROLU IDSI BURAYA",
    "timeoutRoleId":"TIMEOUT ROLU IDSI BURAYA",
    "banRoleId":"BAN ROLU IDSI BURAYA",

    
    "testRoleId":"TEST ROLU IDSI BURAYA"

    
}